@{
    ViewBag.Title = "Bill Register";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4 class="card-title mb-0">Bill Register</h4>
                <a href="/Transaction/BillEntry" class="btn btn-primary btn-sm">
                    <i class="fa fa-plus"></i> Create New Bill
                </a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="billListTable" class="display table-hover table-striped w-100">
                        <thead class="table-primary">
                            <tr>
                                <th>Bill No</th>
                                <th>Bill Date</th>
                                <th>Bill To Party</th>
                                <th>Total Amt</th>
                                <th>Entry By</th>
                                <th style="width:5%; text-align:center;">Action</th>
                            </tr>
                        </thead>
                        <tbody id="tblBody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/TMSJs/Transaction/billList.js" asp-append-version="true"></script>
}